# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# PyTorch
*.pt
*.pdf
*.png
*.bmp
*.txt
*.swp
.vscode/*.json
!.vscode/launch.json

# PyCharm
.idea

# Starlight HPC file
*.out

*.tar

# Jupyter temp file
*.ipynb_checkpoints/

# Temporally Test IRN net
src/model/irn.py
src/model/modules/

# Datasets
# data/
test/
sign
# tree of model experiment files
repecn
repecn_v6
repecn_v*
src/utility_with_warmup.py
src/params_macs_count.ipynb

!figs/overview.png
!figs/visual_compare.png


